---
import LeftSideBar from '../components/LeftSideBar.astro';
import Navbar from '../components/Navbar.astro';
import type { MarkdownHeading } from 'astro';
import RightSideBar from '../components/RightSideBar.astro';
import PageContent from '../components/PageContent.astro';
import type { Frontmatter } from '../utils';
export interface Props {
  headings: MarkdownHeading[];
  frontmatter: Frontmatter;
}

let { headings, frontmatter } = Astro.props;

headings = [
  { depth: 2, slug: 'overview', text: frontmatter.title },
  ...headings,
].filter(({ depth }) => depth > 1 && depth < 4);
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body
    class='bg-slate-900 min-h-screen scroll-smooth flex flex-col items-center'
  >
    <div
      class='sticky top-0 z-40 w-full bg-slate-900 flex justify-center'
      id='nav-bar'
    >
      <Navbar />
    </div>
    <main
      class='max-w-7xl mx-auto grid lg:grid-cols-[250px_auto_250px] md:grid-cols-[250px_auto] grid-cols-1 gap-10'
    >
      <nav
        class='col-span-1 hidden md:flex sticky top-20 h-auto max-h-[calc(100vh-80px)]'
        id='grid-left'
      >
        <LeftSideBar />
      </nav>
      <div class='col-span-1 p-4 text-white markdown overflow-y-auto'>
        <PageContent headings={headings} frontmatter={frontmatter}>
          <slot />
        </PageContent>
      </div>
      <div
        class='col-span-1 hidden sticky top-20 h-auto max-h-[calc(100vh-80px)] lg:flex px-3'
      >
        <RightSideBar headings={headings} />
      </div>
    </main>
  </body>
</html>
<!-- <script>
  const scrollbar = document.querySelector('body');
  scrollbar!.addEventListener('scroll', () => {
    console.log('Scroll');
    // if (scrollbar.scrollLeft > 0) {
    //   scrollbar.classList.add('shadow-lg');
    // } else {
    //   scrollbar.classList.remove('shadow-lg');
    // }
  });
</script> -->
<style is:global>
  body {
    background-image: url('/img/glow-homepage.webp');
    background-position: 50% 60px;
    background-repeat: no-repeat;
    /* background-attachment: ; */
    background-size: cover;
  }
  @font-face {
    font-family: 'ChubboBold';
    src: url('/fonts/Chubbo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* @font-face {
        font-family: "Chubbo-Light";
        src: url("/fonts/Jost-Medium.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      } */
  @font-face {
    font-family: 'ChubboMedium';
    src: url('/fonts/Chubbo-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'ChubboRegular';
    src: url('/fonts/Chubbo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @media (max-width: 767.5px) {
    .mobile-sidebar-toggle {
      overflow: hidden;
      height: 100vh;
    }

    .mobile-sidebar-toggle #grid-left {
      z-index: 20;
      display: flex;
      width: 100vw;
      height: 100vh;
    }
  }

  /* Markdown Styling */
  .markdown {
    @apply flex w-full flex-col items-start justify-start px-4 leading-relaxed text-slate-900 selection:bg-purple-500 selection:text-indigo-500 dark:text-indigo-100 dark:selection:bg-indigo-100 dark:selection:text-slate-900;
  }
  .markdown h1 {
    @apply mt-8 mb-4 text-3xl font-extrabold text-indigo-500;
  }
  .markdown h2 {
    @apply mt-8 mb-4 text-2xl font-bold text-indigo-500;
  }
  .markdown h3 {
    @apply mt-4 mb-2 text-xl font-medium text-indigo-500;
  }
  .markdown h4 {
    @apply mt-2 mb-1 text-base font-medium text-indigo-500;
  }
  .markdown li {
    @apply list-disc text-slate-900 dark:text-white;
  }
  .markdown ol > li {
    @apply mb-2 list-decimal;
  }
  .markdown p {
    @apply mb-4 dark:text-white;
  }
  .markdown a > p {
    @apply mb-0 text-sm;
  }
  .markdown .heading-link--hidden---effects {
    @apply text-indigo-500 hover:text-indigo-300;
  }

  .markdown code {
    @apply break-words [direction:ltr] [unicode-bidi:embed] lg:break-normal;
  }

  .markdown code:not(.markdown pre code) {
    @apply rounded border border-indigo-200 bg-indigo-200/40 px-0.5 py-[0.5px] dark:border-indigo-400/30 dark:bg-indigo-400/20;
  }

  .markdown .remark-code-title {
    @apply z-10 -mb-1 mt-3 w-full rounded-t-md border border-indigo-300/80 bg-[#191724] px-2 py-1 font-mono text-indigo-200;
  }

  .markdown pre {
    @apply mx-auto mb-3 rounded border border-indigo-300/80 p-2 pl-3 font-mono shadow-xl sm:pt-2;
  }

  .markdown ol {
    @apply w-full;
  }

  .markdown details {
    @apply mt-2 w-full rounded-md border border-indigo-300 bg-[#191724] px-3 transition-all duration-300 ease-in-out;
  }
  .markdown details[open] {
    @apply bg-indigo-200;
  }
  .markdown details pre {
    @apply border-0 shadow-none;
  }
  .markdown details > summary {
    @apply cursor-pointer text-[#A6ACCD];
  }
  .markdown summary {
    @apply py-3;
  }

  .markdown p > img {
    @apply mt-8 text-sm;
  }
  .markdown table > tbody > tr > td > a {
    overflow-wrap: anywhere;
  }
  .markdown table {
    @apply max-w-full table-fixed;
  }
  .markdown table > tbody > tr > td {
    @apply align-top;
  }
  .markdown blockquote a {
    @apply text-slate-900 dark:text-indigo-50;
  }

  .embed {
    @apply relative mb-2 h-0 w-full pb-[56.25%];
  }

  .embed iframe {
    @apply absolute top-0 left-0 h-full w-full;
  }
</style>
